@import "../../styles/contants.scss";

.wrapper{
    position: relative;
    background: white;
    height: 100%;
    .container{
        flex-direction: column;
        span{
            text-align: center;
            margin-bottom: 1.3rem;
        }
        form{
            padding: 12px;
            width: 32rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            height: auto;
            @media (max-width:$sm) {
                width: 23rem;

            }
        }
        form>div{
            width: 100%;
             display: flex;
             flex-direction: column;
             gap: 8px;
             input,textarea{
                padding: 10px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid gray;
                background: #f4efef;
                outline-color: gray;
             }
             
         }
    }
}