@import "../../styles/contants.scss";

.wrapper{
    z-index: 99;
    opacity: 1;
    top: 0;
    left: 0;
    position: sticky;
    transition: all .3s ease;

    .container{
        position: relative;
        justify-content: space-between;
        font-weight: 500;
        .name{
            font-size: 1.2rem;
            font-weight: 500;
            a{
                color: inherit;
                text-decoration: none;
            }

            &:hover{
                color: $secondary;
            }
        }
        .menu{

            @media (max-width:$sm), (max-width:$md) {
                position: absolute;
                flex-direction: column;
                right: 0;
                top: 3rem;
                background: #fff;
                padding: 2rem;
                gap: 2rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                align-items: flex-start;
                width: 50%;
                min-width: 15rem;
                border-radius: 10px;
                transition: all .3s ease-in;
            }

            text-transform: uppercase;
            gap: 1.5rem;
            font-size: 0.9rem;
            list-style: none;
            li{
                a{
                    color: inherit;
                    text-decoration: none;
                }

                &:hover{
                    color: $secondary;
                }
            }
        }


        .menuIcon{
            @media (max-width:$sm), (max-width:$md) {
                display: block;
                cursor: pointer;
             }
            display: none;
        }
    }
}