@import "../../styles/contants.scss";

.wrapper{
    position: relative;
    height: 100%;
    .thought{
        display: block;
        margin-top: 10px;
        margin-bottom: 2rem;
        font-size: 18px;
        @media  (max-width:$md){
            width: 100%;
        }
        width: 50%;
    }
    .showCase{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1.4rem;
      
        .showCaseItem{
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 350px;
            height: auto;
            background: rgba(60, 37, 151, 0.662);
            padding: 1rem;
            border-radius: 12px;
            color: #fff;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
             &:hover{
                transform: scale(2);
             
            }
            .name{
                font-size: 20px;
                font-weight: bold;
            }
            .warning{
                
                font-weight: bold;
                font-size: 14px;
            }
            .description{
                font-size: 14px;
                color: #ddd;
            }
            .ImgContainer{
                 height: 320px;
                    position: relative;
                 img{
                     border-radius: 12px;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     object-position: top;
                     transition: all .3s ease-in-out;
                     &:hover{
                        filter: blur(2px);
                     }
                    }
                 &:hover > .live{
                    display: block;
                   
                 }
                 .live{
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 36%;
                    color: rgba(35, 9, 139, 0.662);
                    text-decoration: none;
                    .liveBtn{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        padding: 8px;
                        transition: all .3s ease-in-out;
                        border-radius: 4px;
                        
                        border:1px solid rgb(45,15,115);
                        &:hover{
                            color: white;
                            background: rgb(45,15,115);
                            cursor: pointer;
                            border: none;
                        }
                    }
                 }
        }
    }
   
}
}