.wrapper{
    position: relative;
    background: rgba(35, 9, 139, 0.662);
    .container{
        flex-direction: column;
        gap: 10px;
            .icons{
                display: flex;
                align-items: center;
                .icon{
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    background: rgb(45,15,115);
                    svg{
                        color: #fff;
                    }
                }
            }
        .name{
            color: #fff;
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 14px;
        }    
    }
}